In [117]:
# kütüphanelerin tanımlanması
import pandas as pd
import numpy as np

In [118]:
#Veri setinin okunması
df = pd.read_csv('TripAdvisor_RestauarantRecommendation.csv')

In [119]:
#veri setinin ilk 5 satırı 
df.head()

,Name,Street Address,Location,Type,Reviews,No of Reviews,Comments,Contact Number,Trip_advisor Url,Menu,Price_Range
0,Betty Lou's Seafood and Grill,318 Columbus Ave,"San Francisco, CA 94133-3908","Seafood, Vegetarian Friendly, Vegan Options",4.5 of 5 bubbles,243 reviews,NaN,+1 415-757-0569,https://www.tripadvisor.com//Restaurant_Review...,Check The Website for a Menu,$$ - $$$
1,Coach House Diner,55 State Rt 4,"Hackensack, NJ 07601-6337","Diner, American, Vegetarian Friendly",4 of 5 bubbles,84 reviews,"Both times we were there very late, after 11 P...",+1 201-488-4999,https://www.tripadvisor.com//Restaurant_Review...,Check The Website for a Menu,$$ - $$$
2,Table Talk Diner,2521 South Rd Ste C,"Poughkeepsie, NY 12601-5476","American, Diner, Vegetarian Friendly",4 of 5 bubbles,256 reviews,Waitress was very friendly but a little pricey...,+1 845-849-2839,https://www.tripadvisor.com//Restaurant_Review...,http://tabletalkdiner.com/menu/breakfast/,$$ - $$$
3,Sixty Vines,3701 Dallas Pkwy,"Plano, TX 75093-7777","American, Wine Bar, Vegetarian Friendly",4.5 of 5 bubbles,235 reviews,Not sure why I went there for the second time....,+1 469-620-8463,https://www.tripadvisor.com//Restaurant_Review...,https://sixtyvines.com/menu/plano-tx/,$$ - $$$
4,The Clam Bar,3914 Brewerton Rd,"Syracuse, NY 13212","American, Bar, Seafood",4 of 5 bubbles,285 reviews,Doesn't look like much from the outside but wa...,+1 315-458-1662,https://www.tripadvisor.com//Restaurant_Review...,Check The Website for a Menu,$$ - $$$

In [120]:
#Gerekli özellikleri yeni dataframe olarak oluşturuyoruz.
df2 = df[['Name', 'Location', 'Type', 'Reviews', 'Price_Range']]

In [121]:
#Boş veri var mı diye kontrol edip ekrana yazdırıyoruz.
df2.isna().sum()

Name            0
Location        0
Type           13
Reviews         0
Price_Range     0
dtype: int64

In [122]:
#Boş verilerimizi siliyoruz.
df2 = df2.dropna()

In [123]:
#Restorantların pahalı ucuz orta seçeneklerini gösteriyoruz.
df2.Price_Range.value_counts()

$$ - $$$    2383
$$$$         384
$            281
American       1
Name: Price_Range, dtype: int64

In [124]:
#american satırını siliyoruz.
df2.drop(df2[df2.Price_Range == 'American'].index , inplace=True)

In [125]:
# yorumlar yerinden sadece puanı alıyoruz. 
df2.Reviews = df2.Reviews.apply(lambda x: float(x.split(' ')[0]))
# Loaksyon için sadece virgülden sonraki kısımda şehri alıyoruz.
df2.Location = df2.Location.apply(lambda x: x.split(',')[-1].split(' ')[1])
# Dolar işaretlerine göre pahalı ucuz orta seçeneklerini veriyoruz
df2.Price_Range = df2.Price_Range.apply(lambda x: 'orta' if x == '$$ - $$$' else ('pahalı' if x == '$$$$' else 'ucuz'))

In [126]:
#veri setimizi hazır hale getirdik.
df2.head()

,Name,Location,Type,Reviews,Price_Range
0,Betty Lou's Seafood and Grill,CA,"Seafood, Vegetarian Friendly, Vegan Options",4.5,orta
1,Coach House Diner,NJ,"Diner, American, Vegetarian Friendly",4.0,orta
2,Table Talk Diner,NY,"American, Diner, Vegetarian Friendly",4.0,orta
3,Sixty Vines,TX,"American, Wine Bar, Vegetarian Friendly",4.5,orta
4,The Clam Bar,NY,"American, Bar, Seafood",4.0,orta

In [127]:
df.Reviews.value_counts()

4.5 of 5 bubbles    1956
4 of 5 bubbles      1004
5 of 5 bubbles        59
3.5 of 5 bubbles      40
No review              2
3 of 5 bubbles         1
Name: Reviews, dtype: int64

In [128]:
import random

In [153]:
restaurants_name = [df2.iloc[random.randint(0,df2.shape[0])]['Name'] for i in range(5)]

In [154]:
restaurants_name

['Black Angus Steakhouse - Spokane',
 'Fresco Mexican Grill',
 'Nickel Diner',
 'Sweet Basil',
 'Diana of Little Chef, Little Kitchen']

In [155]:
for i in restaurants_name:
    print(df2.loc[df2['Name'] == i])
    yeni_puan = (float(input(f'Restorantlara puan veriniz(5.0 - 3.0) : ')))
    print(yeni_puan)
    df2.loc[df2['Name'] == i, 'Reviews'] = yeni_puan
    print(df2.loc[df2['Name'] == i])
    print("***************"*7)

                                  Name Location  \
2919  Black Angus Steakhouse - Spokane       WA

                                            Type  Reviews Price_Range
2919   American, Steakhouse, Gluten Free Options      4.0        orta
Restorantlara puan veriniz(5.0 - 3.0) : 5
5.0
                                  Name Location  \
2919  Black Angus Steakhouse - Spokane       WA

                                            Type  Reviews Price_Range
2919   American, Steakhouse, Gluten Free Options      5.0        orta
*********************************************************************************************************
                      Name Location                          Type  Reviews  \
1018  Fresco Mexican Grill       CA   Quick Bites, Mexican, Latin      4.5

     Price_Range
1018        ucuz
Restorantlara puan veriniz(5.0 - 3.0) : 5
5.0
                      Name Location                          Type  Reviews  \
1018  Fresco Mexican Grill       CA   Quick Bites, Mexican, Latin      5.0

     Price_Range
1018        ucuz
*********************************************************************************************************
              Name Location                                   Type  Reviews  \
2906  Nickel Diner       CA   American, Diner, Vegetarian Friendly      4.5

     Price_Range
2906        orta
Restorantlara puan veriniz(5.0 - 3.0) : 5
5.0
              Name Location                                   Type  Reviews  \
2906  Nickel Diner       CA   American, Diner, Vegetarian Friendly      5.0

     Price_Range
2906        orta
*********************************************************************************************************
             Name Location                               Type  Reviews  \
1072  Sweet Basil       NY   Asian, Thai, Vegetarian Friendly      4.5

     Price_Range
1072        orta
Restorantlara puan veriniz(5.0 - 3.0) : 5
5.0
             Name Location                               Type  Reviews  \
1072  Sweet Basil       NY   Asian, Thai, Vegetarian Friendly      5.0

     Price_Range
1072        orta
*********************************************************************************************************
                                      Name Location  \
1818  Diana of Little Chef, Little Kitchen       NY

                                            Type  Reviews Price_Range
1818   Dine With a Local Chef, Italian, American      5.0        orta
Restorantlara puan veriniz(5.0 - 3.0) : 5
5.0
                                      Name Location  \
1818  Diana of Little Chef, Little Kitchen       NY

                                            Type  Reviews Price_Range
1818   Dine With a Local Chef, Italian, American      5.0        orta
*********************************************************************************************************

In [156]:
#lokasyonların dağılımına bakıyoruz.
df2.Location.value_counts()

NY    649
TX    612
CA    608
WA    606
NJ    561
PA      9
OR      2
        1
Name: Location, dtype: int64

In [157]:
#boş olan lokasyon vardı onu siliyoruz.
df2.drop(df2[df2.Location == ''].index , inplace=True)

In [158]:
df2

,Name,Location,Type,Reviews,Price_Range
0,Betty Lou's Seafood and Grill,CA,"Seafood, Vegetarian Friendly, Vegan Options",4.5,orta
1,Coach House Diner,NJ,"Diner, American, Vegetarian Friendly",4.0,orta
2,Table Talk Diner,NY,"American, Diner, Vegetarian Friendly",4.0,orta
3,Sixty Vines,TX,"American, Wine Bar, Vegetarian Friendly",4.5,orta
4,The Clam Bar,NY,"American, Bar, Seafood",4.0,orta
...,...,...,...,...,...
3057,Indigo Kitchen & Ale House,WA,"American, Bar, Vegetarian Friendly",4.5,orta
3058,City Vineyard,NY,"American, Bar, Seafood",4.5,orta
3059,BRIO Tuscan Grille,NJ,"Steakhouse, Italian, Bar",4.0,orta
3060,Maywood Pancake house,NJ,"American, Vegan Options, Gluten Free Options",4.0,orta
3061,Porto Leggero,NJ,"Italian, Vegetarian Friendly, Vegan Options",4.5,pahalı

In [159]:
#Type da yazan restorant içeriklerini "," ile tek tek ayırıp liste halinde kaydediyoruz.
types = [i.strip() for i in np.unique(sum([i.split(',') for i in df2.Type.to_numpy()], [])).tolist()]

In [160]:
#tf idf vektörü sayesinde type parametresini vektörlere ayırıyoruz.
from sklearn.feature_extraction.text import TfidfVectorizer
tf = TfidfVectorizer(lowercase=False)
tf = tf.fit(types)

In [161]:
# lokasyonu seçtiriyoruz. büyük harf veya küçük harf sorunu olmamması için upper yapıyoruz. 
choice_loc = input(f'Lokasyon Seçiniz ({str(df2.Location.unique()).strip("[]")}):').upper()
# bütçemizi seçtiriyoruz. büyük harf veya küçük harf sorunu olmaması için lower yapıyoruz.
choice_price = input(f'Bütçe Seçiniz ({str(df2.Price_Range.unique()).strip("[]")}):').lower()

Lokasyon Seçiniz ('CA' 'NJ' 'NY' 'TX' 'WA' 'OR' 'PA'):CA
Bütçe Seçiniz ('orta' 'pahalı' 'ucuz'):ORTA

In [162]:
#yemek çeşitlerini tek tek gösteriyoruz. 
print(str(types[1:-1]))

['African', 'American', 'Argentinean', 'Armenian', 'Asian', 'Australian', 'Bahamian', 'Bakeries', 'Bar', 'Barbecue', 'Beer restaurants', 'Belgian', 'Brazilian', 'Brew Pub', 'British', 'Burmese', 'Cafe', 'Cajun & Creole', 'Campania', 'Caribbean', 'Catalan', 'Central American', 'Central European', 'Central-Italian', 'Chinese', 'Colombian', 'Contemporary', 'Cuban', 'Deli', 'Dessert', 'Dine With a Local Chef', 'Diner', 'Eastern European', 'Egyptian', 'Ethiopian', 'European', 'Fast Food', 'French', 'Fusion', 'Gastropub', 'German', 'Gluten Free Options', 'Greek', 'Grill', 'Halal', 'Hawaiian', 'Healthy', 'Hungarian', 'Indian', 'Indonesian', 'International', 'Irish', 'Israeli', 'Italian', 'Jamaican', 'Japanese', 'Korean', 'Kosher', 'Latin', 'Lebanese', 'Mediterranean', 'Mexican', 'Middle Eastern', 'Mongolian', 'Moroccan', 'Neapolitan', 'Nepali', 'Northern-Italian', 'Pakistani', 'Persian', 'Peruvian', 'Pizza', 'Polish', 'Polynesian', 'Portuguese', 'Pub', 'Puerto Rican', 'Quick Bites', 'Russian', 'Scandinavian', 'Seafood', 'Sicilian', 'Singaporean', 'Soups', 'South American', 'Southwestern', 'Spanish', 'Sri Lankan', 'Steakhouse', 'Street Food', 'Sushi', 'Swedish', 'Taiwanese', 'Thai', 'Tibetan', 'Turkish', 'Tuscan', 'Vegan Options', 'Vegetarian Friendly', 'Vietnamese']

In [163]:
#Yukarıda oluşturduğumuz listeden üç çeşit seçilmesini istiyoruz.
choice_types = [', '.join([str(input(f'Yukarıdaki Listeden {3-i} Adet Tür Seçiniz: ')).title() for i in range(3)])]

Yukarıdaki Listeden 3 Adet Tür Seçiniz: American
Yukarıdaki Listeden 2 Adet Tür Seçiniz: Asian
Yukarıdaki Listeden 1 Adet Tür Seçiniz: Bar

In [164]:
#seçilen seçenekleritf ıdf uyguluyoruz.
vec1 = tf.transform(choice_types)

In [165]:
#lokasyon ve fiyatlara göre yni dataframeler oluşturuyoruz
new_df = df2[df2.Location == choice_loc]
new_df = new_df[new_df.Price_Range == choice_price]

In [166]:
# uzaklık hesaplaması ile dükkan belirliyoruz. 
from sklearn.metrics.pairwise import cosine_similarity
cos_sim = []
for i in new_df.Type:
    vec2 = tf.transform([i])
    cos = cosine_similarity(vec1, vec2)
    cos_sim.append(cos[0][0])

In [167]:
#dükkanın adını uzaklığını ve puanlarını ekrana göstermek için data frame oluşturuyoruz.
d = {'Name': new_df.Name, 'Cosine': cos_sim, 'Reviews': new_df.Reviews}
sim_df = pd.DataFrame(data=d)

In [168]:
#oluştuduğumuz dateframe de en iyi 5 restorantı gösteriyoruz. 
sim_df.nlargest(5, ['Cosine']).sort_values(by='Reviews', ascending=False)

                 Name    Cosine  Reviews
1161       Upper West  1.000000      4.5
2807      Cork & Fork  0.849004      4.5
575    Firehouse No.1  0.782731      4.0
1065  Observation Bar  0.782731      4.0
2607  Garlic Brothers  0.782731      4.0