In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('TripAdvisor_RestauarantRecommendation.csv')

In [3]:
df.head()

,Name,Street Address,Location,Type,Reviews,No of Reviews,Comments,Contact Number,Trip_advisor Url,Menu,Price_Range
0,Betty Lou's Seafood and Grill,318 Columbus Ave,"San Francisco, CA 94133-3908","Seafood, Vegetarian Friendly, Vegan Options",4.5 of 5 bubbles,243 reviews,NaN,+1 415-757-0569,https://www.tripadvisor.com//Restaurant_Review...,Check The Website for a Menu,$$ - $$$
1,Coach House Diner,55 State Rt 4,"Hackensack, NJ 07601-6337","Diner, American, Vegetarian Friendly",4 of 5 bubbles,84 reviews,"Both times we were there very late, after 11 P...",+1 201-488-4999,https://www.tripadvisor.com//Restaurant_Review...,Check The Website for a Menu,$$ - $$$
2,Table Talk Diner,2521 South Rd Ste C,"Poughkeepsie, NY 12601-5476","American, Diner, Vegetarian Friendly",4 of 5 bubbles,256 reviews,Waitress was very friendly but a little pricey...,+1 845-849-2839,https://www.tripadvisor.com//Restaurant_Review...,http://tabletalkdiner.com/menu/breakfast/,$$ - $$$
3,Sixty Vines,3701 Dallas Pkwy,"Plano, TX 75093-7777","American, Wine Bar, Vegetarian Friendly",4.5 of 5 bubbles,235 reviews,Not sure why I went there for the second time....,+1 469-620-8463,https://www.tripadvisor.com//Restaurant_Review...,https://sixtyvines.com/menu/plano-tx/,$$ - $$$
4,The Clam Bar,3914 Brewerton Rd,"Syracuse, NY 13212","American, Bar, Seafood",4 of 5 bubbles,285 reviews,Doesn't look like much from the outside but wa...,+1 315-458-1662,https://www.tripadvisor.com//Restaurant_Review...,Check The Website for a Menu,$$ - $$$

In [4]:
df2 = df[['Name', 'Location', 'Type', 'Reviews', 'Price_Range']]

In [5]:
df2.isna().sum()

Name            0
Location        0
Type           13
Reviews         0
Price_Range     0
dtype: int64

In [6]:
df2 = df2.dropna()

In [7]:
df2.Price_Range.value_counts()

$$ - $$$    2383
$$$$         384
$            281
American       1
Name: Price_Range, dtype: int64

In [8]:
df2.drop(df2[df2.Price_Range == 'American'].index , inplace=True)

In [9]:
df2.Reviews = df2.Reviews.apply(lambda x: float(x.split(' ')[0]))
df2.Location = df2.Location.apply(lambda x: x.split(',')[-1].split(' ')[1])
df2.Price_Range = df2.Price_Range.apply(lambda x: 'orta' if x == '$$ - $$$' else ('pahalÄ±' if x == '$$$$' else 'ucuz'))

In [10]:
df2.head()

,Name,Location,Type,Reviews,Price_Range
0,Betty Lou's Seafood and Grill,CA,"Seafood, Vegetarian Friendly, Vegan Options",4.5,orta
1,Coach House Diner,NJ,"Diner, American, Vegetarian Friendly",4.0,orta
2,Table Talk Diner,NY,"American, Diner, Vegetarian Friendly",4.0,orta
3,Sixty Vines,TX,"American, Wine Bar, Vegetarian Friendly",4.5,orta
4,The Clam Bar,NY,"American, Bar, Seafood",4.0,orta

In [11]:
df2.Location.value_counts()

NY    649
TX    612
CA    608
WA    606
NJ    561
PA      9
OR      2
        1
Name: Location, dtype: int64

In [12]:
df2.drop(df2[df2.Location == ''].index , inplace=True)

In [13]:
df2

,Name,Location,Type,Reviews,Price_Range
0,Betty Lou's Seafood and Grill,CA,"Seafood, Vegetarian Friendly, Vegan Options",4.5,orta
1,Coach House Diner,NJ,"Diner, American, Vegetarian Friendly",4.0,orta
2,Table Talk Diner,NY,"American, Diner, Vegetarian Friendly",4.0,orta
3,Sixty Vines,TX,"American, Wine Bar, Vegetarian Friendly",4.5,orta
4,The Clam Bar,NY,"American, Bar, Seafood",4.0,orta
...,...,...,...,...,...
3057,Indigo Kitchen & Ale House,WA,"American, Bar, Vegetarian Friendly",4.5,orta
3058,City Vineyard,NY,"American, Bar, Seafood",4.5,orta
3059,BRIO Tuscan Grille,NJ,"Steakhouse, Italian, Bar",4.0,orta
3060,Maywood Pancake house,NJ,"American, Vegan Options, Gluten Free Options",4.0,orta
3061,Porto Leggero,NJ,"Italian, Vegetarian Friendly, Vegan Options",4.5,pahalÄ±

In [14]:
types = [i.strip() for i in np.unique(sum([i.split(',') for i in df2.Type.to_numpy()], [])).tolist()]

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf = TfidfVectorizer(lowercase=False)
tf = tf.fit(types)

In [16]:
choice_loc = 'CA'
choice_price = 'pahalÄ±'
choice_types = ['Italian, Bar, Steakhouse, Diner, Wine Bar']
vec1 = tf.transform(choice_types)

In [17]:
new_df = df2[df2.Location == choice_loc]
new_df = new_df[new_df.Price_Range == choice_price]

In [18]:
from sklearn.metrics.pairwise import cosine_similarity
cos_sim = []
for i in new_df.Type:
    vec2 = tf.transform([i])
    cos = cosine_similarity(vec1, vec2)
    cos_sim.append(cos[0][0])

In [19]:
d = {'Name': new_df.Name, 'Cosine': cos_sim, 'Reviews': new_df.Reviews}
sim_df = pd.DataFrame(data=d)

In [20]:
sim_df.nlargest(5, ['Cosine']).sort_values(by='Reviews', ascending=False)

                         Name    Cosine  Reviews
699        L'Opera Ristorante  0.678596      4.5
1686    54 Degrees at Duane's  0.393354      4.5
908    Prime Table Steakhouse  0.284386      4.5
1838                 LB Steak  0.284386      4.0
2122  Morton's The Steakhouse  0.284386      4.0